* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}
.Flexbox {
  display: flex;
  width: 1728px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  background-color: white;
}

.wrapper1,
.wrapper2,
.wrapper3 {
  background: #8ecae6;
}

.wrapper1 {
  width: 1728px;
  height: 230px;
  display: flex;
  justify-content: center;
}

.bloc1,
.bloc2,
.bloc3,
.bloc4 {
  width: 432px;
  height: 130px;
  flex-shrink: 0;
  border: 1px solid #146c81;
  background: #219ebc;
  color: #fff;
  font-family: Heebo;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  /* 100% */
}

.wrapper2 {
  width: 1728px;
  height: 530px;
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 1728px;
  align-items: flex-end;
}

.wrapper2 .un,
.deux,
.trois {
  width: 416px;
  height: 130px;
  flex-shrink: 0;
  border: 1px solid #146c81;
  background: #219ebc;
  color: #fff;
  font-family: Heebo;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 100% */
}
.wrapper3 {
  width: 1728px;
  height: 230px;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
}
.b1,
.b2,
.b3,
.b4 {
  width: 239px;
  height: 130px;
  flex-shrink: 0;
  border: 1px solid #146c81;
  background: #219ebc;
  color: #fff;
  font-family: Heebo;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 100% */
}
